<% content_for(:title, 'Topic | Learn How To Program') %>

<h1><%= @topic.name %></h1>

<p><%= @topic.topic_text %></p>

<p><%= link_to 'Previous lesson',
  lesson_section_topic_path(@lesson, @section, @topic.previous) %> |
  <%= link_to 'Next lesson',
    lesson_section_topic_path(@lesson, @section, @topic.next) %>

<hr />

<p><%= link_to 'Return to ' + @section.name,
  lesson_section_path(@lesson, @section) %></p>

<p><%= link_to 'Return to All Lessons', lessons_path %></p>
